<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<%= link_to "Regreso a la lista de restaurant", restaurants_path %>
<!-- <br /> -->
<!-- <%= link_to "Editar", edit_article_path(@restaurant.id %> <br />
<%= link_to "Borrar articulo", restaurant_path(@restaurant.id), method: :delete
%> -->
